* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    display: flex;
    width: 100%;
    height: 350px;
    background-image: url(../Img/hardware.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin-top: 20px;
    background-color: rgba(3, 3, 3, 0.3);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
    text-align: center;
    color: black;
}

.container2 {
    margin: 70px auto;
    width: 85%;
    background-color: rgba(72, 72, 73, 0.3);
    padding: 20px;
    border-radius: 8px;
    color: black;
}

.produto {
    margin-bottom: 20px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.foto-produto {
    width: 100%;
    max-width: 150px;
    margin: auto;
}

.linha {
    border: none;
    height: 5px;
    background-color: black;
}

.menu {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
}

.logo {
    display: flex;
    border-radius: 200px;
    height: 150px;
    width: 150px;
    margin: 20px;
    margin-top: -90px;
}

h2 {
    display: flex;
    align-items: start;
    justify-content: start;
    color: green;
    height: 100px;
    width: 400px;
}

.btn-compra:hover {
    background-color: aliceblue;
    border-color: rgb(2, 50, 92);
    color: black;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.menu-btn {
    margin-right: 150px;
    margin-bottom: -280px;
    background-color: #05c1f0;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.menu-btn:hover {
    transition: 2s;
    font-size: 25px;
    background-color: #080808;
    color: aliceblue;
}

.row.menu {
    display: flex;
    align-items: center;
}

/* Classes para o botão finalizar compras do carrinho*/

.btn-finalizar {
    padding: 5px;
    background-color: rgb(9, 241, 67);
    color: whitesmoke;
}

.btn-finalizar:hover {
    transition: 2s;
    padding: 10px 10px;
    font-size: 15px;
    background-color: aliceblue;
    border-color: rgb(2, 50, 92);
    color: black;
}

/* Classes para o botão adicionar produtos ao carrinho*/

.btn-add {
    background-color: rgb(9, 241, 67);
    color: whitesmoke;
    padding: 5px 10px;
    font-size: 14px;
}

.btn-add:hover {
    transition: 2s;
    padding: 10px 15px;
    font-size: 15px;
    background-color: aliceblue;
    border-color: rgb(2, 50, 92);
    color: black;
}

/* Botão remover no carrinho */

.btn-remover {
    background-color: rgb(9, 241, 67);
    color: whitesmoke;
    padding: 5px 10px;
    font-size: 14px;
}

.btn-remover:hover {
    transition: 2s;
    padding: 10px 15px;
    font-size: 15px;
    background-color: aliceblue;
    border-color: rgb(2, 50, 92);
    color: black;
}

/* classes para as imagens no carrinho */

.carrinho-item img {
    width: 500px;
    height: auto;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.carrinho-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.carrinho-item span {
    flex-grow: 1;
    margin: 0 10;
}









